# Credentials
ssh/*
.env
.env.*

# Application data
logs/*
docker/mysql/data
docker/mysql/logs
docker/nginx/logs

# Dependencies
vendor/

# IDE and misc. crap
.idea
.DS_Store
thumbs.db
.tooling/phpcs/.phpcs_cache
