# Credentials
ssh/*
.env
.env.*
manualRequestsForTesting/http-client.env.json

# Application data
logs/*
docker/mysql/data
docker/mysql/logs
docker/nginx/logs
dashboard.html

# Dependencies
vendor/

# IDE and misc. crap
.idea
.DS_Store
thumbs.db
.tooling/phpcs/.phpcs_cache